.sidebar {
    padding: 30px;
    min-height: 100vh;
    max-height: 100vh;
    background-color: #35212e;
    width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

.sidebar_header {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.sidebar_header h2 {
    color: white;
}

.sidebar_header_icon i {
    color: #919191;
    font-size: 2rem;
    font-weight: 100;
}

.sidebar_img img {
    width: 100px;
}

.sidebar_body {
    text-align: center;
    align-items: center;
    margin: 20% 0 0 0 ;
    display: grid;
    justify-content: center;
    align-items: center;
}

.sidebar_titles h2 {
    color: white;
}

.sidebar_titles p {
    font-size: .8rem;
    color: #919191;
}

.activity {
    margin: 50px 0 0 0 ;
}

.activity_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity_title h3 {
    color: white;
}

.activity_title p {
    color: #919191;
    font-size: .8rem;
    border-bottom: 1px solid #bbbbbb;
}

.activity_bucket {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity_icons {
    display: grid;
    margin: 50px 0 0 0;
}

.activity_icon i {
    font-size: 2rem;
    color: #ffae00;
}

.activity_description h3 {
    color: #e4e4e4;
}

.activity_description p {
    color: #919191;
}

.activity_time h4 {
    color: #bbbbbb;
    font-weight: 100;
}
.sidebar {
    padding: 30px;
    min-height: 100vh;
    max-height: 100vh;
    background-color: #35212e;
    width: 300px;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 1000;
    transition: right 0.3s ease;
}


.sidebar.open {
    right: 0;
}


.hamburger {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    z-index: 1100;
}
